@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
.main-content {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    font-family: 'Fira Sans';
}

header {
    background-color:  #283044;
    text-align: left;
    color: white;
    padding: 7px 0 5px 75px;
}
.task-description {
    padding: 20px;
    background-color: #D6DFD9;
}
.task-form {
    width: 450px;
}
.tasks {
    width: 450px;
    font-family: 'Fira Sans';
}
.noresize {
    resize: none;
}
@media only screen and (max-width: 1341px)
{
    .main-content
    {
        flex-direction: column;
        width:100%;
        transition: 1s;
    }
    .task-form, .tasks {
        width: 100%;
        transition: 1s;
    }
    header {
        text-align: center;
        padding: 7px 0 7px 0;
        transition: padding 1s;
    }
}