<!--The content below is only a placeholder and can be replaced.-->
<header class="jumbotron-fluid">
  <h1 class="display-4">Stay Organized</h1>
  <hr class="my-4">
</header>
<main>
  <section>
    <button type="button" class="btn btn-success" (click)="newTask()"><i class="fas fa-plus-square"></i> {{buttonTaskTitle}}</button>
    <button type="submit" class="btn btn-primary" *ngIf="show">Add Task</button>
    <form class="task-form" [@newTask]="show ? 'show' : 'hidden'">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Title" name="taskTitle" [(ngModel)]="taskTitle">
      </div>
      <div class="input-group">
        <textarea class="form-control" placeholder="What is your goal?"rows="3" name="taskDescription" [(ngModel)]="taskDescription"></textarea>
      </div>
    </form>
  </section>
</main>